@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asul&display=swap');




*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
    display: none;
    font-family: 'Open Sans', sans-serif;
    overflow-y: hidden;
    /* DANGER */
}

:root {
    --bgp: rgb(163, 130, 50);
    --radval: 0px 0px 3.5px rgba(0, 0, 0, 0.144),
        0px 0px 8.3px rgba(0, 0, 0, 0.158),
        0px 0px 15.3px rgba(0, 0, 0, 0.11);

    --inshadow: 10px 10px 3.5px rgba(0, 0, 0, 0.144) inset,
        10px 10px 8.3px rgba(0, 0, 0, 0.158) inset,
        10px 10px 15.3px rgba(0, 0, 0, 0.11) inset;

    --boxshad:
        -3.4px 5.1px 6.8px rgba(0, 0, 0, 0.024),
        -7.2px 10.9px 15px rgba(0, 0, 0, 0.035),
        -13.3px 20px 28.9px rgba(0, 0, 0, 0.046),
        -40px 60px 80px rgba(0, 0, 0, 0.07);

    --color1: rgb(192, 161, 120);
    --color2: radial-gradient(ellipse at right, #f3a32a 0%, rgb(241, 137, 40)100%);
    --navHeight: 5rem;
}

::-webkit-scrollbar {
    display: none;


}

.nav {
    height: var(--navHeight);
    position: fixed;
    z-index: 999;
    width: 100vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 300ms ease-in-out;
    color: rgb(17, 12, 12);
    /* border-bottom: 1px rgb(31, 26, 26) solid; */
    backdrop-filter: blur(3px);
    box-shadow: var(--radval);
}

nav h1 {
    margin-left: 1em;
    font-size: 5vmin;

}

nav ul {

    /* margin-right: 1em; */
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 1.3rem;

}

nav ul li {
    margin-right: 3rem;
    user-select: none;
}

.restaurant, .hostel, .homepage, .location {
    width: 2rem;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

nav ul li ::after {}

nav ul li:hover {
    opacity: 0.6;
}

#log-box {
    border-radius: 50%;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 95%;
    top: 25%;
    background-image: url("/png/login\ \(1\).png");
    background-size: cover;
    z-index: 999;
    transition: 0.5s;
}

#log-box:hover {
    transform: scale(1.4);
}

@media screen and (max-width: 650px) {
    .nav {
        height: var(--navHeight);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

    }

    :root {
        --navHeight: 7rem;
    }

    .heading {
        margin: 0;
        font-size: 2em;
        font-weight: 200;
    }

    nav ul {
        width: 80vw;
        display: flex;
        justify-content: space-between;


    }

    nav ul li {
        margin: 0;
    }

    html {
        width: 100vw;
        height: auto;
        overflow-x: hidden;
        scroll-behavior: smooth;
        display: none;

    }

    /* #about-page-wrapper{
        flex-direction: column;
    } */
    #homebox {
        background: url("/png/undraw_Reading_time_re_phf7\ \(1\)\.png") center no-repeat;
        background-size: 700px 500px;
        background-position-x: 0px;
        /* transform: rotateY(-180deg); */
    }

    #homesvg {
        display: none;
    }

    #circle2 {
        display: none;
    }

}

@media screen and (max-width: 300px) {
    nav {
        height: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .heading {
        margin: 0;
        font-size: 1.5em;

    }

    .nav-list {
        width: 1rem;
    }

    nav ul {
        width: 90vw;
        display: flex;
        justify-content: space-around;


    }

    nav ul li {
        margin: 0;
    }

    html {
        width: 100vw;
        height: auto;
        overflow-x: hidden;
        scroll-behavior: smooth;
        display: none;
    }

    #homesvg {
        display: none;
    }
}

.main-page {
    transition: 0.7s;
}

.main-page-wrapper {
    position: relative;
    top: var(--navHeight);
    transition: 1s;

}

.slide {
    position: absolute;
    width: 100vw;
    height: 120vh;
    transform: translateX(100vw);
    opacity: 0;
    transition: 1.2s;
    z-index: 100;

}

@keyframes slidepage {
    0% {
        transform: translate(100vw);
        opacity: 0;
    }

    30% {
        opacity: 0.6;
    }

    95% {
        transform: translate(-8px);
    }

    100% {
        transform: translate(0px);
        opacity: 1;
    }
}

@keyframes closepage {
    0% {
        transform: translate(0px, 0px);
        opacity: 1;
    }

    60% {
        opacity: 0.7;
    }

    100% {
        transform: translate(-100vw, 0px);
        opacity: 0;
    }
}

#about-page {



    /* flex-direction: column; */
    /* border: 2px solid black; */


}

#about-page-wrapper {
    /* display: flex;
    justify-content: center; */
    height: calc(99vh - var(--navHeight));
    background-image: url('/png/undraw_Dreamer_re_9tua.png');
    background-size: cover;
    width: 100vw;
}

.about-grid-item1 {
    width: 50vw;
    padding-left: 10px;
    margin-top: 30px;
    padding-top: 30px;
    backdrop-filter: blur(2px);
    overflow-y: scroll;
    scroll-behavior: smooth;
    /* box-shadow: var(--radval); */
    margin: auto;
    transition: 1s;
}


#inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid black; */
}

#hostel-input-parent {
    width: 80%;
    min-width: 300px;
    /* border: 1px solid #000000; */
    padding: 30px 0px 30px 0px;
    /* box-shadow: var(--radval); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3px;

}

.input {
    background-color: whitesmoke;
    width: 70%;

    text-transform: capitalize;
    letter-spacing: 2px;
    height: 30px;
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    transition: ease-in-out 0.5s;
    border-left: 3px solid rgba(43, 38, 38, 0.705);


    border-radius: 2px;
}

.input:hover {
    box-shadow: var(--radval);
}

#btn-add {
    /* width: fit-content;
    */
    background: white;
    /* color: #333; */
    /* border: 1px solid black; */
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 50;
    padding: 5px;
    letter-spacing: 3px;
    transition: 0.6s;
    transform: translate(-10px, -17px);
    border-radius: 1.5px;
    box-shadow: var(--radval);

}

#btn-add:hover {
    background-color: #222;
    color: blanchedalmond;
    /* border-color:blanchedalmond ; */
}

::placeholder {
    opacity: 1;
    color: black;
}

.name-list {


    text-transform: capitalize;
    border-left: rgb(230, 170, 81) 10px solid;
    border-radius: 5px;
    padding-left: 1rem;
    /* margin-bottom: 1rem; */
    /* clip-path: ellipse(130px 140px at 20% 30%); */
    /* border: 2px solid black; */
    /* overflow: wrap; */
    font-size: 1.5em;
    word-wrap: break-word;
    width: 100%;
}

#name-list {
    margin: auto;
    width: 80%;
}

.contain-list {
    width: 100%;
    transition: 0.6s;
    padding: 4px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.contain-list:hover {
    box-shadow: var(--radval);
}

.address-list {
    font-size: 16px;
    /* border: 2px solid black; */
}

.comment-png {
    width: 30px;
    height: 30px;
    z-index: 10;
    transition: 0.1s;
    margin: 5px 1px 0px 2em;
}

.comment-png:active {
    transform: scale(1.2);
}

.about-grid-item2 {
    width: 50vw;
    position: absolute;
    top: 1%;
    height: 70%;
    padding-left: 10px;
    padding-top: 30px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border-left: black 1px solid;
    /* background-color:rgb(32, 30, 30); */
    /* box-shadow: var(--radval); */
    /* transform: rotateY(-180deg); */
    opacity: 0;
    transform: translate(52vw);
}

#pg-intro {
    margin: auto;
    width: 50%;
    letter-spacing: 2px;
    line-height: 30px;
}

#pg-intro p span {
    font-size: 30px;
    font-weight: bold;
    margin-right: 5px;
}

#comment-box {
    border-top: black 1px solid;
}

#comment-input {
    width: 50%;
    height: 30px;
    padding: 5px;
    font-size: 1rem;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px black solid;
}

#down-arrow-png {
    width: 30px;
    height: 30px;
    background-image: url("/png/down-arrow.png");
    background-size: cover;
    transition: 0.4s;
}

#down-arrow-png:hover {
    transform: scaleY(1.5);
}

.center {
    display: flex;
    /* justify-content: center; */

    height: 120vh;
    width: 100vw;
    background-color: white;

}

#homebox {

    width: clamp(100px, 100vw, 600px);
    height: 35rem;
}

#homesvg {

    /* float: left; */
    width: 55%;
    height: 35rem;
    background: url("/png/undraw_Reading_time_re_phf7\ \(1\)\.png") center no-repeat;
    background-size: cover;
    z-index: 3;

}

#homebox::before {
    content: "";
    position: absolute;
    left: 150px;
    top: 13px;
    height: 35rem;
    width: 2px;
    border-radius: 2px;
    background-color: rgb(60, 60, 50);
    z-index: 1;
}

#homebox::after {
    content: "";
    position: absolute;
    left: 60px;
    top: 40px;
    width: 100vw;
    height: 2px;
    border-radius: 2px;
    background-color: rgb(60, 60, 50);
    z-index: 99;
}

#quotes {
    background: rgba(255, 255, 255);

    width: clamp(14em, 40vw, 20em);
    height: 200px;
    position: absolute;
    top: 11rem;
    left: 7%;
    z-index: 10;
    border-radius: 30%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;

}

#quotes p span {
    font-size: 30px;
    font-weight: bold;
    margin-right: 5px;
}

.quotes-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cutter {
    background: rgb(255, 255, 255);
    width: 20em;
    height: 20px;
    position: relative;
    top: 28rem;
    left: 10%;
    z-index: 2;
    margin-top: 20px;
}

.link-png {
    /* border-radius: 50%; */
    position: relative;
    width: 40px;
    height: 40px;

}


#twitter {
    background-image: url('/png/twitter.png');
    background-size: cover;
}

#github {
    background-image: url('/png/github.png');
    background-size: cover;
}

#mail {
    background-image: url('/png/mail.png');
    background-size: cover;
}

.clipcircle {
    background-color: rgb(240, 240, 44);
    clip-path: circle(at 40%);
    transition: 1.2s;
    opacity: 0.87;
    animation: circle 18s infinite;
}

#circle {
    position: absolute;
    top: -7rem;
    left: -3rem;
    width: 15rem;
    height: 15rem;
    animation: circle 20s infinite;
}

#circle2 {
    background-color: rgb(60, 60, 126);
    position: absolute;
    bottom: -1rem;
    right: -10rem;
    width: 25rem;
    height: 25rem;
    z-index: 10;
    animation: circle 30s 3s infinite;
    opacity: 0.97;
}


@keyframes circle {
    20% {
        transform: translate(-15px, -30px) scale(1.04);
    }

    56% {
        transform: translate(-3px, -17px) scale(1.1);
    }

    75% {
        transform: translate(30px, -3px) scale(1);
    }

}

.popup {}

@keyframes popup-slide {
    0% {
        left: 100%;
        transform: translateX(0px);
    }

    20% {
        left: 50%;
        transform: translateX(-50%);
    }

    80% {
        left: 50%;
        transform: translateX(-50%);
    }

    100% {
        left: 100%;
        transform: 0px;
    }
}

@keyframes open-comment {
    0% {
        transform: translate(100vw);
        opacity: 0;
    }

    30% {
        opacity: 0.6;
    }

    95% {
        transform: translate(50.2vw);
    }

    100% {
        transform: translate(50vw);
        opacity: 1;
    }
}

#locate {
    display: flex;
    
}

#us-box1 {
    background-color: #4a4a4a;
    width: 50%;
    height: 97vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.us-icons {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1414148a;
    transition: 0.5s;
}
.us-icons:hover{
    background-blend-mode: overlay;
    background-color: #bcb9c0;
    /* backdrop-filter: blur(3px); */
}
.us-icon-box {
    width: 30px;
    height: 30px;
    transition: 0.5s; 
    
}
.profile{
    width: 150px;
    height: 150px;
    background-color: aliceblue;
    border-radius: 50%;
}
.linkedin {
    background-image: url("/png/linkedin.svg");
    background-size: cover;
   
}

.insta {
    background-image: url("/png/instagram.svg");
    background-size: cover;
}

.gmail {
    background-image: url("/png/envelope.svg");
    background-size: cover;
}

#us-box2 {
    width: 50%;
    height: 97vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: #141414; */
}
.col-change{
    background-color: #4a4a4a;
}
#locate h1 {
    color: whitesmoke;
    font-weight: lighter;
    letter-spacing: 3px;
}
