@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asul&display=swap');




*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
::selection{
    background-color: rgb(51, 221, 65);
    opacity: 0.8;
    color: #eee;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
    display: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-y: hidden;
    font-size: 16px;
    /* DANGER */
}

:root {
    --bgp: rgb(163, 130, 50);
    --radval: 0px 0px 3.5px rgba(0, 0, 0, 0.144),
        0px 0px 8.3px rgba(0, 0, 0, 0.158),
        0px 0px 15.3px rgba(0, 0, 0, 0.11);

    --inshadow: 10px 10px 3.5px rgba(0, 0, 0, 0.144) inset,
        10px 10px 8.3px rgba(0, 0, 0, 0.158) inset,
        10px 10px 15.3px rgba(0, 0, 0, 0.11) inset;

    --boxshad:
        -3.4px 5.1px 6.8px rgba(0, 0, 0, 0.024),
        -7.2px 10.9px 15px rgba(0, 0, 0, 0.035),
        -13.3px 20px 28.9px rgba(0, 0, 0, 0.046),
        -40px 60px 80px rgba(0, 0, 0, 0.07);

    --color1: rgb(192, 161, 120);
    --color2: radial-gradient(ellipse at right, #f3a32a 0%, rgb(241, 137, 40)100%);
    --navHeight: 4rem;
    --listHt:2.7rem;
    --listHt2:-3.7rem;
}

::-webkit-scrollbar {
    display: none;
}

.nav {
    height: var(--navHeight);
    user-select: none;
    position: fixed;
    z-index: 999;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 300ms ease-in-out;
    color: hsl(27, 5%, 47%);
    backdrop-filter: blur(3px);
    font-family: sans-serif;

}

nav h1 {
    margin-left: 1em;
    font-size: 5vmin;
    
}

nav ul {

    /* margin-right: 1em; */
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    /* overflow: hidden; */
}

nav ul li {
    margin-right: 0.3rem;
    user-select: none;
    font-size: 14px;
    font-weight: bold;
    /* overflow: hidden; */
   
    padding: 10px 15px;
}

.restaurant, .hostel, .homepage, .location {
    width: 2rem;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

nav ul li ::after {}

nav ul li:hover {
    opacity: 0.6;
}

#log-box {
    border-radius: 50%;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 1rem;
    top: 5%;
    background-image: url("/png/login\ \(1\).png");
    background-size: cover;
    z-index: 999;
    transition: 0.5s;
}

#log-box:hover {
    transform: scale(1.4);
}


.main-page {
    background-color: #faf2eb;
    transition: 0.7s;
}

.main-page-wrapper {
    background-color: #faf2eb;
    position: relative;
    top: var(--navHeight);
    transition: 1s;

}

.slide {
    position: absolute;
    width: 100vw;
    height: calc(100vh - var(--navHeight));
    transform: translateX(100vw);
    opacity: 0;
    transition: 1.2s;
    z-index: 100;
    /* border: 1px solid #ccc;
    border-radius: 20px; */
}

#about-page {}

#about-page-wrapper {
    /* display: flex;
    justify-content: center; */
    height: calc(99vh - var(--navHeight));
    /* background-image: url('/minorpro2.0/png/undraw_Dreamer_re_9tua.png');
    background-size: cover; */
    display: flex;
    filter: brightness(90%);
    width: 100vw;
}

.about-grid-item1 {
    width: 20vw;
    padding-left: 10px;
    margin-top: 30px;
    padding-top: 30px;
    backdrop-filter: blur(2px);
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 96%;
}


#inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hostel-input-parent {
    width: 80%;
    min-width: 300px;
    padding: 30px 0px 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3px;

}

.input {
    background-color: #ffecb3;
    width: 85%;
    text-transform: capitalize;
    letter-spacing: 2px;
    height: 40px;
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    transition: ease-in-out 0.5s;
  
    border-radius: 2px;
}

.input:hover {
    box-shadow: var(--radval);
}

#btn-add {
    background: #e9c65d;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 50;
    padding: 5px;
    letter-spacing: 3px;
    transition: 0.6s;
    transform: translate(-10px, -17px);
    border-radius: 1.5px;
    box-shadow: var(--radval);

}

#btn-add:hover {
    background-color: #333;
    color: blanchedalmond;
    /* border-color:blanchedalmond ; */
    box-shadow: none;
}

::placeholder {
    opacity: 1;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}

.name-list {
    text-transform: capitalize;
    border-left: rgb(230, 170, 81) 10px solid;
    border-radius: 5px;
    padding-left: 1rem;
    font-size: 1.5em;
    word-wrap: break-word;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#name-list {
    margin: auto;
    width: 80%;
}

.contain-list {
    width: 100%;
    transition: 0.6s;
    padding: 4px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    background-color: rgba(187, 222, 251, 0.1);


}

.contain-list:hover {
    box-shadow: var(--radval);
}

.address-list {
    font-size: 16px;
    /* border: 2px solid black; */
}

.comment-png {
    width: 20px;
    height: 20px;
    /* z-index: 10;    ??*/
    transition: 0.1s;
    margin: 5px 1px 0px 2em;
}

.comment-png:active {
    transform: scale(1.2);
}

.about-grid-item2 {
    width: 50vw;
    top: 1%;
    height: 96%;
    padding-left: 10px;
    padding-top: 30px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border-left: 1px #e6d6a8 solid;
    backdrop-filter: blur(6px);


}


.pg-list {
    margin-left: 40px; 
    height: var(--listHt);
    border-bottom: #e6d6a8 solid 2px ;
    transition: 0.5s linear ease-out;
    overflow: hidden;
    transition: 0.3s;
    user-select: none;
}
.up {

    font-size: 1.5em;
    font-weight: 500;
    color: #4a4a4a;
    transition: 0.2s 0.2s linear;
    
}
.up span {
    font-size: 16px;
}
.pg-list:hover .up {
  background-color: #e7cf81;
}

.space {
    margin-top: 40px;
} 

#about-grid-item3{
  border-left: 1px #e6d6a8 solid;
}
#comment-box{
    position: relative;
    top: 5%;
    padding-left: 1rem;
}
#comment-input{
    padding: 10px;
    max-width: 90%;
    min-width: 90%;
    max-height: 5em;
    min-height: 5em;
    background-color: #ffecb3;
}
#user-png{
transform: translateY(-130%);
}
.comment-btn{
    position: relative;
   transform: translateY(10px);
    left: 65%;
    background-color: rgb(255, 222, 149);
    padding: 5px;
    border-radius: 3px;
    font-weight: 600;
    border: none;
}
.center {
   
    z-index: 100;
    height: 120vh;
    width: 100vw;
    
}
#center-wrapper{
    width: 100%;
    height: 85vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    
    /* height: clamp(100px,50vw,580px);
    background-image: url("/minorpro2.0/png/starwars.svg") ;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(180px);
    opacity: 0.1;
    transition: 2s; */
}

#upper-box{
    top: 50%;
    font-size: 2.5em;
    margin: 0.9em 0 0 2em;
    font-weight: 500;
    color: hsl(27, 5%, 47%);
}

#center-item1{
    width: 100%;
    height: 30vh;
    /* display: flex;
    align-items: center; */


}


#center-item2{
    width: 99%;
    height: 60vh;
    display: flex;
    font-family: sans-serif;

}
#lower-box{
    
    padding-right: 2em;
    width: 60%;
    font-size: 1rem;
    font-weight: 600;
    color: hsl(27, 5%, 47%);
    text-align: left;
    
}
.open-close{
    width:50%;
    padding: 1em;
    border-top: #9a9a9a 1px solid;
    margin-top: 1em;
    height: 4em;
    transition: 0.3s;
    font-size: 1.1rem;
    letter-spacing: 2px;
    line-height: 20px;
    overflow: hidden;
    overflow: scroll;
    scroll-behavior: smooth;
}

.open-close:hover{
    /* color: hsl(27, 5%, 27%); */
    border-color: hsl(27, 5%, 27%);
     height: 8em;
     cursor: pointer;
}
#locate {
    display: flex;
    opacity: 0;
}

#locate::after {
    position: absolute;
    content: "If you have any question, send us e-mail or just follow us on the socials.";
    display: block;
    left: 50%;
    bottom: 20px;
    word-spacing: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(248, 248, 248);
    font-weight: 200;
    /* padding: 10px; */
    text-align: center;
    transform: translateX(-50%);
    /* border-left: rgb(192, 186, 186) solid 3px; */
    width: clamp(20px,90vw,600px);
}

#locate::before {
    position: absolute;
    content: "SOCIALS";
    display: block;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    font-size: 28px;
    word-spacing: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: #ccc 3px solid;
    color: rgb(251, 249, 255);
    font-weight: 50;

}

#us-box1 {
    background-color: #4a4a4a;
    width: 50%;
    height: 97%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}



.us-icons {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1414148a;
    transition: 0.5s;
}

.us-icons:hover {
    background-blend-mode: overlay;
    background-color: #0c0a0f;

}

.us-icon-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;

}

.profile {
    width: 150px;
    height: 150px;
    background-color: aliceblue;
    border-radius: 50%;


}
#profile1{
background-image: url("/png/piyush.jpeg");
background-size: cover;
background-blend-mode: overlay;
background-color: #333;
}
#profile2{
background-image: url("/png/sumit.png");
background-size: cover;
background-blend-mode: overlay;
background-color: #333;
}


.linkedin {
    background-image: url("/png/linkedin.svg");
    background-size: cover;

}

.insta {
    background-image: url("/png/instagram.svg");
    background-size: cover;
}

.gmail {
    background-image: url("/png/envelope.svg");
    background-size: cover;
}

#us-box2 {
    width: 50%;
    height: 97%;
    /* position: relative; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: #141414; */
}
.col-change {
    background-color: #4a4a4a;
}

#locate h1 {
    color: whitesmoke;
    font-weight: lighter;
    letter-spacing: 3px;
}

#rest-page-wrapper {
    background: url("/png/rest.jpg");
    /* background-attachment: fixed; */
    background-size: cover;
    background-position-y: -60px;
    width: 100%;
    height: calc(100vh + var(--navHeight) / 1.8);
    position: relative;
    filter: brightness(60%);
    top: calc(0px - var(--navHeight));
    transition: 0.5s;

}



#rest-page-wrapper>div:first-child {
    /* background-color: burlywood; */
    height: 22rem;
    width: clamp(200px, 90vw, 600px);
    backdrop-filter: brightness(95%) blur(1px);
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 0px;
}

#rest-page-wrapper>div:first-child>div {
    text-align: center;
    vertical-align: middle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: #70655b;
    text-transform: capitalize;
}

#rest-page-wrapper>div:first-child>div:first-child {
    text-align: center;
    vertical-align: middle;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    color: #726559;
    font-size: 2.5rem;

}

#rest-page-wrapper>div:first-child>div:last-child {
    text-align: right;
    padding: 5px 40px;
    font-weight: 400;
}

#rest-nav {
    position: relative;
    height: 10%;
    top: var(--navHeight);
    padding: 0 21% 0 0;
    float: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    z-index: 9;
}

#rest-nav button {
    border: 2px solid #726559;
    ;
    outline: none;
    font-size: 10px;
    border-radius: 3px;
    padding: 5px 10px;
    color: #726559;
    ;
    background-color: transparent;
    letter-spacing: 1px;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    z-index: 10;
}

#rest-nav button::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    background-color: #726559;
    height: 0%;
    z-index: -9;
    border-radius: 0% 0% 0 0;
    transition: 0.71s;
}

#rest-nav button:hover{
    color: #ddd;
}

#rest-nav button:hover:before,nav ul li:hover:before {
    height: 120%;
}

#list-line {
    position: absolute;
    right: 0px;
    top: 18%;
    width: calc(100% - 67px);
    height: 2px;
    background: #726559;
}

#rest-page-wrapper>div:nth-child(3) {
    position: absolute;
    width: 100%;
    height: 0;
    /* top: 20%; */
    left: 0;
    top: 100%;
    background-color: #f1dc97;
    border-radius: 10% 10% 0 0;
    transition: ease-in-out;
   

}
#slideup::before{
    content: "";
    width:15rem;
    height: 40%;
    border-radius: 50%;
    background-color:#f1dc97;
    z-index: -1;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
}
#slideup-wrapper{
    width: 100%;
    height: 90%;
    display: flex; 
    align-items: center;
    opacity: 0;
    transition: 1s 0.8s ease-in-out;
    transform: translateY(30px);
}
#slideup-item1{
    width: 70%;
    height: 90%;
}


#slideup-item1 h2, #slideup-item1 h3 {
    font-family: serif;
    color: #111110;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}

#arrowdown {
    width: 50px;
    height: 50px;
    background-image: url("/png/arrowdown.svg");
    background-size: cover;
    margin: auto;
}
#slideup-item2{
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#slideup-item2 input{
    width: 60%;
    text-transform: capitalize;
    letter-spacing: 2px;
    height: 13%;
    border-radius: 10px;
    background-color: #e7cf81;
    font-size: 1.5rem;
    font-family: serif;
    padding: 10px 20px;
    margin-bottom: 26px;
    border: none;
    outline: none;
}
#slideup-item2 span{
    font-size: 1rem;
    margin:1px 10px;
    letter-spacing: 0.4px;
}
#rest-submit{
    display: flex;
    /* width: 35%; */
    align-items: center;
    justify-content: space-evenly;
    padding: 4px 6px;
    transition: 0.3s;
    border-radius:6px;
}
#rest-submit:hover{
    background-color: rgba(30,30,30,0.1);
}

#arrowleft{
    width: 30px;
    height: 30px;
    background-image: url("/png/arrowleft.svg");
    background-size: cover;
    font-size: 10px;
    font-family: serif;
    padding: 10px;
}
